$primary1: hsl(215, 51%, 70%); // Text
$primary2: hsl(178, 100%, 50%); // Coin value and hover effect

$neutral1: hsl(217, 54%, 11%); // main BG
$neutral2: hsl(216, 50%, 16%); // card BG
$neutral3: hsl(215, 32%, 27%); // line
$neutral4: hsl(0, 0%, 100%); // Title and text

$special: hsla(178, 100%, 50%, 0.418);